.footer {
    position: fixed; // зафикисруем подвал
    bottom: 0; // прижимаем подвалк  низу
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 74px;

    background-color: $black;

    &__btn {}
}

//https://my.methed.ru/teach/control/lesson/view/id/240082259 останвилаьс на 1Ж39