.footer {
    position: fixed; // зафикисруем подвал
    bottom: 0; // прижимаем подвалк  низу
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 74px;
    background-color: $black;

    &__btn {}
}