.upload {
    max-width: 222px;
    margin: 0 auto 15px;

    &__subtitle {
        margin-bottom: 15px;
        font-weight: 500;
        font-size: 12px;
        line-height: 100%;

    }

    &__label {
        display: block;
        width: 222px;
        height: 290px;
        background-image: url('../img/file.jpg'); // img  которпая в dist
        background-size: cover;
        border-radius: 6px;
        cursor: pointer;

        &--active {
            background-image: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }



    &__preview {
        display: none;
    }

    &__file {
        display: none;
    }
}