.upload {
    max-width: 220px;
    margin: 0 auto 15px;

    &__subtitle {

        font-weight: 500;
        font-size: 12px;
        line-height: 100%;

    }

    &__label {}

    &__preview {}

    &__file {}
}