$black: #000000; // заводим пременные для хранения цветов
$white: #FFFFFF;
$secDark: #181818;

$primary: #F87C09;
$promaryLight: #FF922E;
$primaryDark: #AEAAAA;

$secondary: #EAEAEA;
$secondaryDark: #6B6B6B;


// микисны для медиазапросов:
@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin laptop {
    @media (min-width: 1024px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width:1280px) {
        @content;
    }
}


@mixin font($name, $weight) {

    // миксин для шрифтов:
    @font-face {
        font: {
            family: $name; // свойство font-family
            weight: $weight; // свойство font-weight
            display: swap; // свойство font-swap
        }

        src: url("../fonts/#{ $name } - #{ $weight }.woff2") format("woff2"),
        // ex: Roboto-500
        url("../fonts/#{ $name } - #{ $weight }.woff") format("woff");
    }
}